<form action="/auth/login" method="POST">
    <div>
        <p class="welcome">
            ¿Ya estás registrado? ¡Encantados de tenerte de vuelta!
          </p>
      <label for="username">Alias:</label>
      <input type="text" name="username">
    </div>
    <div>
      <label for="password">Contraseña:</label>
      <input type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Log In">
    </div>
</form>

