<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    
    <!-- External libs -->
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Project libs -->
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <script src="/javascripts/back-ajax.js"></script>
  </head>
  <body>

    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#home-nav" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse" id="home-nav">
          <ul class="nav navbar-nav">
            <li><a href="/">Bremen.io</a></li>
            
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="/ad/list">
                <span class="glyphicon glyphicon-search"></span>
              </a>
            </li>
            <% if(!user) { %>
              <li><a href="/auth/login">Login</a></li>
              <li><a href="/auth/signup">Signup</a></li>
            <% } else { %>
              <li><a href="/users/activity">Perfil</a></li>
              <li><a href="/auth/logout">Logout</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>
    <div style="margin-top: 50px;">
    
      <%- body %>
    </div>
    <script
  src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>