<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1>Bienvenido a Bremen.io</h1>
    <p>Un lugar donde podrás buscar a ese músico que te falta para lanzar el proyecto musical que siempre buscaste<br>
    o buscar un grupo con vacantes abiertas en nuestra lista de anuncios</p>
    <% if(!user) { %>
      <ul>
        <li><a href="/auth/login">Login</a></li>
        <li><a href="/auth/signup">Signup</a></li>
      </ul>
    <% } else { %>
      <h2>Hola <%= user.username %></h2>
    </br>
    <a class="btn btn-primary" href="/users/activity">Ir a mi perfil</a>
      <a href="/auth/logout">Logout</a>
    <% } %>
  </body>
</html>
